In [2]:
import numpy as np
import pandas as pd

In [148]:
data_train = pd.read_csv('train.csv')
data = pd.read_csv('sample_submission.csv')
data_train

         user_id   order_completed_at  cart
0              2  2015-03-22 09:25:46   399
1              2  2015-03-22 09:25:46    14
2              2  2015-03-22 09:25:46   198
3              2  2015-03-22 09:25:46    88
4              2  2015-03-22 09:25:46   157
...          ...                  ...   ...
3123059    12702  2020-09-03 23:45:45   441
3123060    12702  2020-09-03 23:45:45    92
3123061    12702  2020-09-03 23:45:45   431
3123062    12702  2020-09-03 23:45:45    24
3123063    12702  2020-09-03 23:45:45   430

[3123064 rows x 3 columns]

In [149]:
data_train = data_train.drop(columns='order_completed_at')

In [150]:
new_data = pd.DataFrame(index=range(0, 20000), columns=range(0, 881))

In [151]:
for i in range(20000):
	d = dict(data_train[data_train['user_id'] == i].value_counts('cart'))
	list_keys = list(d.keys())
	list_values = list(d.values())
	new_data.loc[i][list_keys] = list_values

In [152]:
new_data = new_data.fillna(0)
new_data['user_id'] = range(0, 20000)

In [163]:
new_data

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,user_id
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19995
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19996
19997,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19997
19998,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,19998
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19999

In [ ]:
new_data

Методы коллаборативной фильтрации: Это подход, который основан на анализе поведения пользователей и предполагает, что пользователи, которые в прошлом выбирали товары из похожих категорий, вероятно, будут выбирать их и в будущем. Модели, основанные на коллаборативной фильтрации, могут использовать методы, такие как матричные разложения или алгоритмы кластеризации, чтобы предсказать следующий заказ пользователя.

Методы классификации или регрессии: Можно рассматривать задачу как задачу классификации или регрессии, где каждый товар или категория товаров представлен как признак, а целевой переменной будет следующий заказ пользователя. Модели, такие как случайный лес, градиентный бустинг или нейронные сети, могут быть применены для обучения на этих данных и предсказания следующего заказа.